<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий

# <center>Домашнее задание 1. <br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://goo.gl/forms/pB1tDIArMvTUsIUg2).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd
# чтоб картинки рисовались в тетрадке
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10, 8)

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
data[data.sex == 'Female']['age'].mean()

36.858230433571627

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
len(data[data['native-country'] == 'Germany']) / len(data) * 100
# sad

0.42074874850281013

**4. Постройте гистограмму распределения (*bar plot*) образования людей (признак *education*).**

**5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
data.groupby(by='salary')['age'].describe()

salary
<=50K   count    24720.000000
        mean        36.783738
        std         14.020088
        min         17.000000
        25%         25.000000
        50%         34.000000
        75%         46.000000
        max         90.000000
>50K    count     7841.000000
        mean        44.249841
        std         10.519028
        min         19.000000
        25%         36.000000
        50%         44.000000
        75%         51.000000
        max         90.000000
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
data[data['salary'] == '>50K']['education'].value_counts()
# sdfghjkdfghjkldfgh

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [8]:
res = data.groupby(by=['sex', 'race'])['age'].describe()

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
data['married'] = data['marital-status'].apply(lambda s: s.startswith('Married'))

In [12]:
pd.crosstab(data[data.sex == 'Male']['married'], data[data['sex'] == 'Male']['salary'], normalize=True)

salary      <=50K      >50K
married
False    0.346581  0.031987
True     0.347682  0.273749

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [18]:
data['hours-per-week'].max()

99

In [19]:
len(data[data['hours-per-week'] == data['hours-per-week'].max()])

85

In [20]:
data[data['hours-per-week'] == data['hours-per-week'].max()]['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [26]:
pd.set_option('display.max_rows', 100)

In [27]:
data.pivot_table(['hours-per-week'], ['native-country', 'salary'], aggfunc='mean')[:]

                                   hours-per-week
native-country             salary
?                          <=50K        40.164760
                           >50K         45.547945
Cambodia                   <=50K        41.416667
                           >50K         40.000000
Canada                     <=50K        37.914634
                           >50K         45.641026
China                      <=50K        37.381818
                           >50K         38.900000
Columbia                   <=50K        38.684211
                           >50K         50.000000
Cuba                       <=50K        37.985714
                           >50K         42.440000
Dominican-Republic         <=50K        42.338235
                           >50K         47.000000
Ecuador                    <=50K        38.041667
                           >50K         48.750000
El-Salvador                <=50K        36.030928
                           >50K         45.000000
England                    <=50K        40.483333
                           >50K         44.533333
France                     <=50K        41.058824
                           >50K         50.750000
Germany                    <=50K        39.139785
                           >50K         44.977273
Greece                     <=50K        41.809524
                           >50K         50.625000
Guatemala                  <=50K        39.360656
                           >50K         36.666667
Haiti                      <=50K        36.325000
                           >50K         42.750000
Holand-Netherlands         <=50K        40.000000
Honduras                   <=50K        34.333333
                           >50K         60.000000
Hong                       <=50K        39.142857
                           >50K         45.000000
Hungary                    <=50K        31.300000
                           >50K         50.000000
India                      <=50K        38.233333
                           >50K         46.475000
Iran                       <=50K        41.440000
                           >50K         47.500000
Ireland                    <=50K        40.947368
                           >50K         48.000000
Italy                      <=50K        39.625000
                           >50K         45.400000
Jamaica                    <=50K        38.239437
                           >50K         41.100000
Japan                      <=50K        41.000000
                           >50K         47.958333
Laos                       <=50K        40.375000
                           >50K         40.000000
Mexico                     <=50K        40.003279
                           >50K         46.575758
Nicaragua                  <=50K        36.093750
                           >50K         37.500000
Outlying-US(Guam-USVI-etc) <=50K        41.857143
Peru                       <=50K        35.068966
                           >50K         40.000000
Philippines                <=50K        38.065693
                           >50K         43.032787
Poland                     <=50K        38.166667
                           >50K         39.000000
Portugal                   <=50K        41.939394
                           >50K         41.500000
Puerto-Rico                <=50K        38.470588
                           >50K         39.416667
Scotland                   <=50K        39.444444
                           >50K         46.666667
South                      <=50K        40.156250
                           >50K         51.437500
Taiwan                     <=50K        33.774194
                           >50K         46.800000
Thailand                   <=50K        42.866667
                           >50K         58.333333
Trinadad&Tobago            <=50K        37.058824
                           >50K         40.000000
United-States              <=50K        38.799127
                           >50K         45.505369
Vietnam                    <=50K        37.193548
                           >50K         39.200000
Yugoslavia                 <=50K        41.600000
                           >50K         49.500000